<h1 mat-dialog-title>Add a new employee</h1>
<mat-dialog-content class="mat-typography">
<div  [formGroup]="employeesForm" autocomplete="off"  class="addEmployee-modal">
    
    <mat-form-field>
      <!-- <label for="employee-name">Name*: </label> -->
      <input matInput class="form-control" type="text" formControlName="Name" placeholder="Name"/>
      <mat-hint>Not more then 60 characters long.</mat-hint>
      <mat-error *ngIf="hasError('Name', 'required')">Name is required</mat-error>
      <mat-error *ngIf="hasError('Name', 'pattern')">You must introduce only letters</mat-error>
      <mat-error *ngIf="hasError('Name', 'maxlength')">You have more than 60 characters</mat-error>
    </mat-form-field>
    <mat-form-field>
      <!-- <label for="employee-email">Email*: </label> -->
      <input matInput class="form-control" type="email" formControlName="Email" placeholder="Email"/>
      <mat-error *ngIf="hasError('Email', 'required')">Email is required</mat-error>
      <mat-error *ngIf="hasError('Email', 'email')">example@example.com</mat-error>
    </mat-form-field>
    <mat-form-field>
      <!-- <label for="employee-hire-date">Hire date: </label> -->
      <input matInput class="form-control" type="date" formControlName="Hire_date" placeholder="Hire date"/>
    </mat-form-field>
    <mat-form-field>
      <!-- <label for="employee-salary">Salary: </label> -->
      <input matInput class="form-control" type="number" formControlName="Salary" placeholder="Salary"/>
      <mat-error *ngIf="hasError('Salary', 'required')">Salary is required</mat-error>
      <mat-error *ngIf="hasError('Salary', 'max')">Too big value</mat-error>
    </mat-form-field>
    <mat-form-field>
      <!-- <label for="employee-job-title">Job title: </label> -->
      <input matInput class="form-control" type="text" formControlName="Job_Title" placeholder="Job title"/>
      <mat-hint>Not more then 60 characters long.</mat-hint>
      <mat-error *ngIf="hasError('Job_Title', 'required')">Job title is required</mat-error>
      <mat-error *ngIf="hasError('Job_Title', 'pattern')">You must introduce only letters</mat-error>
      <mat-error *ngIf="hasError('Job_Title', 'maxlength')">You have more than 60 characters</mat-error>
    </mat-form-field>
  </div>
 
</mat-dialog-content>
<mat-dialog-actions >
  <button type="button" class="btn btn-outline-info mat-raised-button"  [disabled]="!employeesForm.valid" (click)="create()">Add</button>
  <button type="button" class="btn btn-outline-info  mat-raised-button" (click)="close()">Cancel</button>
</mat-dialog-actions>