<tr *ngIf="employee" [formGroup]="employeesForm" class="employee-row"> 
  <td>
    <input class="form-control" type="text" formControlName="Name" placeholder="Employee name"/>
  </td>
  <td>
    <input class="form-control" type="text" formControlName="Email" placeholder="Employee email"/>
  </td>
  <td>
    <label for="employee-hire-date">{{employee.Hire_date | date:"MM/dd/yyyy"}}</label>
  </td>
  <td>
    <input class="form-control" type="number" formControlName="Salary" placeholder="Salary"/>
  </td>
  <td>
    <input class="form-control" type="text" formControlName="Job_Title" placeholder="Job title"/>
  </td>
  <td><button (click)="update()" type="button" class="btn btn-outline-info">Update</button></td>
  <td><button (click)="delete()" type="button" class="btn btn-outline-info">Delete</button></td>
</tr>